@import 'variables';

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-content {
  flex: 1;
  min-width: 0;
}

.layout-admin .layout-content {
  padding-top: 0;
}

.site-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-shell__content {
  flex: 1;
}
